.card__container {
  width: 500px;
  height: 350px;
  background: #fff;
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
}
.card__container_nexmo {
  width: 500px;
  height: 250px;
  background: #fff;
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
}
.card__container_auth {
  width: 500px;
  height: 450px;
  background: #fff;
  border-radius: 5px;
  margin: 20px 20px 20px 20px;
}
.text {
  padding: 20px 0 0 20px;
}
label {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 12px;
  width: 80%;
}
input {
  margin: 5px 30px;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
}

select {
  margin: 5px 30px;
  border-radius: 5px;
  padding: 10px;
  width: 210px;
}
button {
  margin-left: 400px;
  margin-top: 30px;
  cursor: pointer;
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background: #ff921c;
  color: #fff;
}
button:hover {
  background: #c66300;
}
.nexmo {
  margin-top: 5px;
}
.auth {
  margin-top: 5px;
}
section {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  width: 100%;
  height: 50px;
  margin-top: 100px;
  background: #fff;
}
.footer p {
  text-align: center;
  padding-top: 14.5px;
}
