.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: auto;
    max-width: 100%;
    overflow: hidden !important;

}

.header_wrapper {
    display: flex;
    align-items: center;
    padding: 1rem 0;
    font-weight: bold;
    overflow: hidden;
    font-size: 1.5em;
}

.body_wrapper {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow: hidden !important;
    margin: 0 auto;
    gap: 1rem;
}

.brand_wrapper {
    display: flex;
    width: 60%;
    padding: 1rem;
    background: white;
    border-radius: 10px;
}

.add_brand__Wrapper {
    display: flex;
    width: 40%;
    padding: 1rem;
    background: white;
    border-radius: 10px;
}

.brand_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.brand_head {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
    width: 100%;
    justify-content: space-between;
}

.brand_input {
    display: flex;
    align-items: center;

}

.brand_input input {
    background: white;
    border-radius: 10px;
    border: 1px solid gainsboro;
    outline: none;
    padding: 0.7rem;
    min-width: 200px;
    font-weight: bold;
    font-size: 1em;
    transition: all 300ms ease;
}

.brand_input input:focus {
    border: 1px rgb(247, 123, 11) solid;
}

.brand_table {
    display: flex;
    width: 100%;
}

.brand_table table {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    table-layout: auto;
    transition: all 300ms ease;

}

.brand_table table tr {
    display: flex;
    width: 100%;
    padding: 1rem 0;
    justify-content: space-between;
}


.brand_table table tr th {
    width: 100%;
    cursor: pointer;
    text-align: left;
    height: 100%;
    align-items: start !important;

}

.brand_table table tr {
    gap: 5px;
}

.brand_table table tr td {
    width: 100%;
    cursor: pointer;
    text-align: left;
    height: 100%;
    align-items: start !important;


}

.brand_table table tr:hover {
    background: gainsboro;
}

.brand_image {
    display: flex;
    align-items: center;
    width: 100%;

}

.brand_image img {
    display: flex;
    align-items: center;
    width: auto;
    max-width: 20px;
    /* justify-content: flex-start; */
}

td {
    display: flex;
    align-items: center;
    gap: 5px;

}

/* td span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    color: rgb(250, 169, 97);
    background: rgb(254, 235, 218);
    transition: all 300ms ease;
} */

/* td span:hover {
    transform: scale(0.8);
    background: rgb(247, 123, 11);
    color: white;
} */

.delete {
    color: red;
}

.delete:hover {
    transform: scale(0.8);
    background: rgb(f247, 123, 11);
    color: white;
}

.add_brand__Wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    max-height: 650px;
}

.add_brand_title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1em;
}

.add_brand_body {
    display: flex;
    flex-direction: column;
}

.add_brand_form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.form_group {
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
}


.form_group label {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.form_group input {
    display: flex;
    padding: 0.4rem;
    font-size: 1.1rem;
}

.form_group textarea {
    display: flex;
    min-height: 200px;
    max-height: 250px;
    width: auto;
    max-width: 97%;
    font-size: 1em;
    outline: none;
    padding: 0.4rem;
}

.upload {
    width: 100%;
    display: flex;

}

.upload button {
    max-width: 10%;
}

.upload input {
    width: 80%;
}

.submit_btn {
    display: flex;
    align-items: center;
    width: auto;
    justify-content: flex-end;
    max-width: 100%;
    margin-top: 1rem;
}

.submit_btn button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 1.5rem;
    justify-content: flex-end;
    outline: none;
    border: none;
    cursor: pointer;
    background: rgb(247, 123, 11, 0.7);

    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.submit_btn button:hover {
    background: rgb(247, 123, 11);
}