.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
}

.product_header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    transition: all 300ms ease;
}

.title {
    display: flex;
    font-weight: bolder;
    color: gray;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background: rgb(37, 188, 241);
    border-radius: 20px;
    border: none;

}

.button:hover {
    background: rgb(37, 188, 241, 0.7);
}

a {
    text-decoration: none;
}