.Purchase {
  margin-top: 50px;
  background-color: white;
  width: 80vw;
  margin: 200px auto;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
}

.Purchase h2 {
  margin-bottom: 40px;
  font-size: 20px;
}
.Headers {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.Headers div {
  font-weight: 600;
  justify-self: flex-end;
  flex-basis: 20%;
}
.Amount {
  flex-basis: 20%;
}
.Date {
  flex-basis: 20%;
}
.Code {
  color: #e62e04;
  flex-basis: 20%;
}
.Plus {
  margin-right: 10px;
  padding: 2px;
  font-weight: bold;
  background-color: #ffbd7f;
}
.PurchaseBox {
  padding: 13px 0px;
  font-size: 12px;
  align-items: center;
  border-top: 1px solid #eee;
  display: flex;
}
.Options {
  display: flex;
  flex-basis: 20%;
}

.Button {
  background-color: transparent;
  margin-right: 20px;
  border: 0;
  width: 30px;
  cursor: pointer;
  height: 30px;
  border-radius: 50%;
}
.Pagination {
  margin-top: 20px;
}
.Button:hover {
  background-color: #e62e04;
  color: white;
}

.Tired {
  flex-basis: 20%;
}
.Tired div {
  padding: 2px 3px;
  text-align: center;
  border-radius: 1.5px;
  width: 50px;
  color: white;
}
.Pending {
  background-color: #ef486a;
  color: white;
}
.Delivered {
  background-color: #0abb75;
}
.eye ion-icon {
  background-color: #dff5fd;
  padding: 10px;
  color: #25bcf1;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
}
.eye ion-icon:hover {
  background-color: #25bcf1;
  color: white;
}
.download ion-icon {
  margin-right: 10px;
  border-radius: 50%;
  padding: 10px;
  background-color: #fff6dd;
  color: #ffc519;
  cursor: pointer;
  transition: all 0.2s;
}
.download ion-icon:hover {
  color: white;

  background-color: #ffbd7f;
}
.trash ion-icon {
  cursor: pointer;
  padding: 10px;
  color: #e62e04;
  margin-right: 10px;
  border-radius: 50%;
  background-color: #fde4e9;
  transition: all 0.2s;
}
.trash ion-icon:hover {
  color: white;
  background-color: #e62e04;
}
@media only screen and (max-width: 500px) {
  .Purchase {
    width: 100vw;
  }
}
