.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    max-width: 70%;
    margin: 0 auto;

}

.top {
    display: flex;
    font-weight: bold;
    padding: 1rem;
}

.body {
    background: white;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    display: flex;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 97%;
    margin: 0 auto;
}

.form_group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.form_group_textarea {
    padding: 1rem;
    width: 98%;
    margin: 0 auto;
    display: flex;
}

.form_group {
    padding: 1rem;
    width: 100%;

}

.form_label {
    display: flex;
    width: 20%;
}

.form_field {
    display: flex;
    width: 70%;
}

.form_field select,
input,
textarea {
    width: 100%;
    padding: 1rem;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    transition: all 300ms ease;
}

.form_field textarea {
    cursor: auto;
    width: auto;
    max-width: 10px !important;

}

.form_field select:focus,
input:hover,
textarea:hover {
    border: 1px solid orange;
}

.form_group_btn {
    display: flex;
    justify-content: flex-end;
}

.form_group_btn button {
    padding: 1rem;
    background: orange;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}