.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
}

.head_wrapper {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
}

.body {
    display: flex;
    width: 100%;
    gap: 1rem;
}

.left_container {
    width: 70%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.left_wrapper {
    display: flex;
    gap: 1rem;

    flex-direction: column;
}

.productInformation {
    display: flex;
    padding: 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    flex-direction: column;
    gap: 0.5rem;
}


.productInformation_body {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    margin-top: 1rem;
}

.head_tite {
    font-weight: bold;
}

.form_group {
    display: flex;
    align-items: center;
    width: 100%;

}

.form_label {
    display: flex;
    align-items: center;
    width: 15%;
}

.form_label label span {
    color: red;
}

.form_input {
    width: 75%;
    display: flex;
    align-items: center;
}

.tags {
    display: flex;
    width: 100%;
    align-items: center;
    border: 1px solid gray;
    gap: 1rem;
    padding: 0 1rem;
}

.tags input {
    width: 100%;
    padding: 0.7rem;
    border: none !important;
    color: gray;
    transition: all 300ms ease;
    outline: none;
}

.tag_wrapper {
    display: flex;
    gap: 5px;
    background: rgb(194, 190, 190);
    color: black;
    padding: 3px 5px;
    align-items: center;
    border-radius: 5px;
    transition: all 300ms ease;
    justify-content: space-between;
}

.tag_wrapper:hover {
    background: rgb(198, 208, 226);
}

.tag_close {
    font-size: 12px;
}

.tag_close:hover {
    background: red;
    color: white;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;

}

.form_input input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: gray;
    transition: all 300ms ease;
    outline: none;
}

textarea {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: gray;
    transition: all 300ms ease;
    outline: none;
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 200px;
}

.form_input select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: gray;
    display: flex;
    flex-direction: column;
    transition: all 300ms ease;
    outline: none;
    gap: 1rem;
    height: auto;


}

.form_input select option {
    display: flex;
    flex-direction: column;
    gap: 1rem !important;
    padding: 1rem !important;
    align-items: center;
}

.form_input select option span {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.form_input input:focus {
    border: 1px solid orange;
}


.add_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add_wrapper span {
    display: flex;
    gap: 5px;
}

.add_wrapper button {
    border: none;
    padding: 5px 1rem;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    color: black;
    cursor: pointer;
    transition: all 300ms ease;
}


.add_wrapper button:hover {
    border: none !important;
}


.right_container {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.right_wrapper {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.shipping_configuration {
    display: flex;
    flex-direction: column;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 10px;
    padding: 1rem;
    gap: 0.7rem;
}

.shipping_title {
    font-weight: bold;
}

.shipping_content {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.shipping_content span {
    display: flex;
    align-items: center;
}

.shipping_item {
    display: flex;
    color: gray;
    width: 100%;
}

.shipping_left {
    flex: 2;
}

.shipping_right {
    flex: 1;
}

.shipping_form_group {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.shipping_form_group span {
    width: 100%;
    justify-content: flex-start;
    gap: 0.5rem;
    display: flex;
}


.shipping_form_group span input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: gray;
    transition: all 300ms ease;
    outline: none;
}

.flash_select {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid gainsboro;
    border-radius: 5px;
    color: gray;
    transition: all 300ms ease;
    outline: none;
    gap: 5px;
}

.flash_select option {
    font-weight: bold;
}

.vat_content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vat_item {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.vat_form_group {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    width: 100%;
}

.vat_input {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.vat_input input {
    outline: none;
    width: 50%;
    padding: 0.5rem;
    border: 1px solid gainsboro;
}

.vat_input select {
    display: flex;
    padding: 0.5rem;
    outline: none;
    border: 1px solid gainsboro;
    width: 50%;
}

.vat_input select option {
    display: flex;
    align-items: center;
    padding: 1rem !important;
}