.container {
    display: flex;
    gap: 3rem;
    padding: 2rem;
}

.left {
    flex: 1;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.paytm,
.myfatoorah,
.paytm_credential {
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 5px;
}

.paytm_title,
.myfatoorah_title,
.paytm_credential_title {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-weight: bold;
}

.paytm_body,
.myfatoorah_body {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
}

.myfatoorah_body .group {
    display: flex;

    padding: 1rem;
    justify-content: space-between;
}

.paytm_label,
.myfatoorah_label {
    display: flex;
    align-items: center;
}

.paytm_label img,
.myfatoorah_img {
    width: auto;
    max-width: 70px;

}

.paytm_body .group {
    display: flex;
    justify-content: space-between;

    padding: 1rem;
}

.paytm_credential_form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form_group {
    display: flex;
    align-items: center;
    font-size: 12px;

}


.form_group .label {
    flex: 2;
}

.form_group .detail {
    flex: 3;
    justify-content: flex-start;
    width: 100%;

}


.form_group .detail input,
.form_group .detail span {
    display: flex;
    align-items: center;
    max-width: 250px;
    outline: none;
    margin: 0;
    cursor: auto;
}

.form_group_btn {
    display: flex;
    justify-content: flex-end;
}

.form_group_btn button {
    padding: 1rem 1.3rem;
    background: orange;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    transition: all 300ms ease;
}

.form_group_btn button:hover {
    background: rgb(178, 132, 46);
}

.pay_configure {
    background: rgb(204, 229, 255);
    border-radius: 5px;
    text-align: center;
    padding: 1rem 5rem;
    font-size: 15px;
    color: rgb(51, 79, 136);
}


.pay_configure a {
    text-decoration: none;
    color: orange;
}